<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout</title>
</head>
<body style=" width: 100vw ; height: 100vh">
    <div class="card" style=" display:flex">
        <div class="card-body" style= "margin:auto">
        <h5 class="card-title">Has sido deslogueado</h5>
        <p class="card-text">
            Gracias por tu tiempo, contáctame por comentarios y sugerencias.
        </p>
        <br><hr><a href="{% url 'loginUser' %}" class="btn btn-primary">Iniciar sesión otra vez</a>
    </div>
    </div>
    

</html>