{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mulish">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link href="{% static 'css/main.css' %}" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="{% static 'images/icono.ico' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>SALU STYLE | HEALTH </title>
  <style>
    .card {
      background-color: #F77E91;
    }

    .formulario {
      min-height: 80vh;
    }
  </style>
</head>

<body class="bodyLanding">
  <nav class="navbar navbar-expand-lg bg-white shadow">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="{% static 'images/salustyle.png' %}" alt="Salustyle img" width="170" height="70">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex justify-content-end me-3" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item me-5">
            <a class="nav-link fs-5 fw-bold text-dark landing_listitem" href="{% url 'home' %}">Ir a Home</a>
          </li>
          {% if user.is_authenticated %}
                    <li class="nav-item dropdown pe-3">
                        <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                          <img src="{% static 'images/test.png' %}" alt="Profile" class="rounded-circle">
                          <span class="d-none d-md-block dropdown-toggle ps-2  fs-5 text-dark landing_listitem">{{user.last_name}}</span>
                        </a><!-- End Profile Iamge Icon -->
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile" >
                          <li>
                            <a class="dropdown-item d-flex align-items-center drop-menu"  href="{% url 'logout' %}">
                                <i class="fa fa-sign-out" aria-hidden="true"></i>
                              <span class="text-dark">Sign Out</span>
                            </a>
                          </li>
                        </ul><!-- End Profile Dropdown Items -->
                    </li>
                    {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid p-0">
    <div class="row g-0">
      <div class="col d-flex justify-content-center align-content-center flex-wrap login formulario">
        <div class="card shadow border-0 mt-2 mb-3">
          <div class="card-body p-5">
            <h1 class="card-title text-white fw-bold text-center"><i class="fa fa-files-o text-white"
                aria-hidden="true"></i> Mi Ficha Médica</h1>

            <form action="" method="post" class="p-3">
              {% csrf_token %}
              <input type="hidden" name="id" value="{{health.id}}">
              <div class="row">
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <label class="form-label fs-5" for="peso">Peso (Kg)</label>
                    <input type="text" id="peso" class="form-control form-control-lg" name="weight" placeholder="Peso"
                      value="{{health.weight}}" required />
                  </div>

                </div>
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <label class="form-label fs-5" for="altura">Altura (cm)</label>
                    <input type="text" id="altura" class="form-control form-control-lg" name="height"
                      placeholder="Altura" value="{{health.height}}" required />
                  </div>

                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline datepicker w-100">
                    <label for="blood_type" class="form-label fs-5">Grupo Sanguineo</label>
                    <select class="form-select form-select-lg" aria-label="Default select example" name="blood_type"
                      aria-placeholder="Elige" required>
                      <option value="O-" {% if form.blood_type == "O-" %} selected {% endif %}>O-</option>
                      <option value="O+" {% if form.blood_type == "O+" %} selected {% endif %}>O+</option>
                      <option value="A-" {% if form.blood_type == "A-" %} selected {% endif %}>A-</option>
                      <option value="A+" {% if form.blood_type == "A+" %} selected {% endif %}>A+</option>
                      <option value="B-" {% if form.blood_type == "B-" %} selected {% endif %}>B-</option>
                      <option value="B+" {% if form.blood_type == "B+" %} selected {% endif %}>B+</option>
                      <option value="AB-" {% if form.blood_type == "AB-" %} selected {% endif %}>AB-</option>
                      <option value="AB+" {% if form.blood_type == "AB+" %} selected {% endif %}>AB+</option>
                    </select>
                  </div>
                </div>

                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <label class="form-label select-label fs-5">¿Fumás?</label>
                    <select class="form-select form-select-lg" aria-label="Default select example" name="smoker"
                      aria-placeholder="Elige" required>
                      <option value="si" {% if form.smoker == "si" %} selected {% endif %}>Sí</option>
                      <option value="no" {% if form.smoker == "no" %} selected {% endif %}>No</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline datepicker w-100">
                    <label for="insurance" class="form-label fs-5">Obra Social / Seguro</label>
                    <input type="text" class="form-control form-control-lg" id="insurance" value="{{health.insurance}}"
                      name="insurance" />
                  </div>
                </div>

                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <label class="form-label select-label fs-5">¿Actividad Fisica?</label>
                    <select class="form-select form-select-lg" aria-label="Default select example" name="sedentary_work"
                      aria-placeholder="Elige" required>
                      <option value="si" {% if form.sedentary_work == "si" %} selected {% endif %}>Sí</option>
                      <option value="no" {% if form.sedentary_work == "no" %} selected {% endif %}>No</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-12 mb-4">
                  <div class="form-outline">
                    <label class="form-label select-label fs-5">Doctor de cabecera</label>
                    <select class="form-select form-select-lg" aria-label="Default select example" name="main_md"
                      aria-placeholder="Elige">
                      {% for doctor in doctors %}
                      <option value="{{doctor.id}}" {% if form.main_md == doctor %} selected {% endif %}>{{doctor}}
                      </option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>


              <div class="mt-4 pt-2 text-center">
                <input class="btn btn-primary btn-lg text-white" type="submit" value="Enviar" />
                <a href="{% url 'home' %}" class="btn btn-secondary btn-lg">Atras</a>
              </div>

            </form>

          </div>
        </div>
      </div>

    </div>
  </div>
  <script src="{% static 'libs/bootstrap/dist/js/bootstrap.min.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
</body>

</html>